@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
    transition: all 0.2s;
}
body{
    --co-dark: #232323;
    --co-dark-10: #23232319;
    --co-light: #ffffff;
    --wi-basic: 60px;
    --f-size: 2rem;
    --ga-basic: 2rem;
    --bo-basic: 1px solid var(--co-dark);
}
body.darkmode{
    --co-dark: #ffffff;
    --co-dark-10: #ffffff19;
    --co-light: #232323;
}
div#mode{
    position: fixed;
    width: var(--wi-basic);
    height: var(--wi-basic);
    border: var(--bo-basic);
    top: -1px;
    right: var(--ga-basic);
    font-size: var(--f-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: Karla, sans-serif;
    position: relative;
    color: var(--co-dark);
}

main {
    background: var(--co-light);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wrapper:not(:last-of-type) {
    opacity: 0.5;
    pointer-events: none;
}

.wrapper:not(:last-of-type)::after {
    content: '🔒';
    position: absolute;
    display: inline-block;
    font-size: var(--f-size);
}

main > p {
    font-size: var(--f-size);
    position: fixed;
    top: var(--ga-basic);
}

input {
    background: var(--co-light);
    width: var(--wi-basic);
    height: var(--wi-basic);
    border: var(--bo-basic);
    border-radius: 0;
    text-align: center;
    font-size: var(--f-size);
    margin: 3px;
    color: var(--co-dark);
    text-transform: uppercase;
}
input:focus{
    outline: none;
    transform: scale(1.05);
    background-color: var(--co-dark-10);
}
input:not(:focus){
    opacity: 0.8;
}

button {
    width: calc(100% - calc(var(--ga-basic) * 2));
    position: fixed;
    bottom: var(--ga-basic);
    left: var(--ga-basic);
    border: var(--bo-basic);
    background: var(--co-light);
    font-size: var(--f-size);
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    body{
        --wi-basic: 40px;
        --f-size: 1.2rem;
        --ga-basic: 1.2rem;
    }
}